<mat-toolbar color="primary" class="example-toolbar">
  <h1 class="example-app-name">Starman</h1>
</mat-toolbar>

<mat-grid-list
  class="dark-background-color"
  [cols]="isSmallScreen ? 1 : 4"
  (window:resize)="onResize()"
>
  <mat-grid-tile [colspan]="isSmallScreen ? 1 : 4" rowspan="1">
    The starman seating in Tesla Roadster car is now the Artificial Satellite of
    the Sun. SpaceX launched the starman into the orbit on date 6th Feb of 2018
  </mat-grid-tile>
  <mat-grid-tile [colspan]="isSmallScreen ? 1 : 1" rowspan="2">
    <mat-card class="example-card">
      <mat-card-title class="center-align">Starman's Orbit</mat-card-title>
      <div id="main-container"></div>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            Current Speed: {{ starmanPosition.speed_mph }} mph
          </mat-list-item>
          <mat-list-item
            >Distance from Earth: {{ starmanPosition.earth_distance_mi }} miles
          </mat-list-item>
          <mat-list-item
            >Distance from Mars: {{ starmanPosition.mars_distance_mi }} miles
          </mat-list-item>

          <mat-list-item
            >Launch Date: {{ starmanPosition.launch_date_utc }}
          </mat-list-item>
          <mat-list-item
            >Weight on earth:
            {{ starmanPosition.launch_mass_lbs }} lbs</mat-list-item
          >
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="isSmallScreen ? 1 : 3" rowspan="2">
    <mat-card>
      <mat-card-title class="center-align">Starman's Gallery</mat-card-title>

      <mat-tab-group>
        <mat-tab label="First">
          <img src="{{ starmanPosition.flickr_images[0] }}" alt="" />
        </mat-tab>
        <mat-tab label="Second">
          <img src="{{ starmanPosition.flickr_images[1] }}" alt="" />
        </mat-tab>
        <mat-tab label="Third">
          <img src="{{ starmanPosition.flickr_images[2] }}" alt="" />
        </mat-tab>
        <mat-tab label="Fourth">
          <img src="{{ starmanPosition.flickr_images[3] }}" alt="" />
        </mat-tab>
      </mat-tab-group>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
