@import '~@angular/material/theming';

.example-card {
  max-width: 400px;
}

#main-container {
  min-width: 350px;
  min-height: 350px;
}

h1.example-app-name {
  margin-left: 8px;
}

.center-align {
  text-align: center;
}

.mat-card {
  border-radius: 0px;
}

.gallery-images {
  height: 400px;
}
