<mat-card style="height: auto">
  <p>
    Hello There, This is as an open source web site hosted on
    <a href="https://github.com/devlofer/devlofer-ui" target="”_blank”"
      >GITHUB</a
    >
    and AWS Please note that it is not affiliated to spacex or elon musk Many
    thanks to spacekit library, wiki pages, space X and Elon musk for sending
    his car on the space. Author and the owner of this web site is
    <a href="https://www.linkedin.com/in/raj-shaikh/" target="”_blank”"
      >Mr. Raj Shaikh</a
    >
    and this web site is not affiliated to Elon Musk or spaceX.
  </p>
</mat-card>
